body {margin:0; padding:0;}

.center-wrapper {
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
    top: 50%;
    margin-top: -5%;
}

.stage {
    margin: 10px 20px 0 0;
}

.stage p {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial Black, Gadget, sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 15px;
    display: inline-block;
    text-transform: uppercase;
}

#stage_refresh a {
    background: url('./images/refresh.jpg') no-repeat scroll left top transparent;
    display: block;
    width: 42px;
    height: 42px;
}

#stage_refresh a:hover {
    background-position: left bottom;
}
